* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    color: rgb(29, 29, 29);
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

video {
    display: block;
    width: 100%;
    height: auto;
}

input,
textarea {
    font-family: 'Roboto', sans-serif;
}

/* NAV */

h1 {
    padding: 0.75rem 0;
    margin: auto;
}

header {
    background-color: #07102d;
}

.container {
    width: 90%;
    margin: 0 auto;
}

.centrar {
    display: flex;
    align-items: center;
}

#barra {
    display: none;
    width: 100%;
    background-color: white;
    position: absolute;
    top: 75px;
    left: 0px;
    box-shadow: 0px 10px 5px black;
    z-index: 2;
}

#barra li {
    list-style: none;
    margin: 1rem 0;
    width: 100%;
    display: inline-block;
}

.nav_link {
    color: #07102d;
    text-transform: uppercase;
    text-decoration: none;
    display: block;
    text-align: center;
    font-weight: 900;
}

.nav_link::after {
    content: '';
    display: block;
    height: 4px;
    background-color: goldenrod;
    width: 0%;
    transition: all ease-in-out 250ms;
}

.nav_contacto {
    padding: .5rem 1rem;
    background-color: goldenrod;
    color: white;
    border-radius: 5px;
    max-width: 8rem;
    margin: auto;
}

@media screen and (max-width: 959px) {
    #menu {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    }

    #hamburguesa  {
        z-index: 2;
    }

    #hamburguesa li{
        list-style: none;
        overflow: hidden;
        margin-top: 1.34375rem;
        width: 3rem;
        text-indent: -100px;
    }

    #hamburguesa li:first-child a{
        background: url(./assets/img/icons/menu-haburguesa.png) no-repeat center center;
        background-size: cover;
        display: block;
        width: 2rem;
        height: 2rem;
        margin-left: 1em;
    }

    #hamburguesa li:last-child a{
        background: url(./assets/img/icons/close.png) no-repeat center center;
        background-size: cover;
        display: block;
        width: 2rem;
        height: 2rem;
        margin-left: 1rem;
    }

    #hamburguesa li:last-child{
        display: none;
    }

    #menu:target #barra{
        display: block;
    }

    #menu:target #hamburguesa li:first-child{
        display: none;
    }

    #menu:target #hamburguesa li:last-child{
        display: block;
    }

}

/* BANNER */

#slider {
    overflow: hidden;
}

#slider figure {
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    animation: 20s slider infinite;
}

#slider figure picture {
    width: 20%;
    float: left;
}

@keyframes slider {
    0% {
        left: 0;
    }
    20% {
        left: 0;
    }
    25% {
        left: -100%;
    }
    45% {
        left: -100%;
    }
    50% {
        left: -200%;
    }
    70% {
        left: -200%;
    }
    75% {
        left: -300%;
    }
    95% {
        left: -300%;
    }
    100% {
        left: -400%;
    }
}

/* INICIO */

.section-title {
    text-align: center;
    margin-top: 4rem;
    margin-bottom: 2.5rem;
    color: #07102d;
    text-transform: uppercase;
    font-weight: 900;
}

.seccion {
    margin: 3rem auto;
}

#seccion-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#seccion-1  .section-title{
    font-style: italic;
    line-height: 2.5rem;
    text-transform: none;
    margin-top: 0;
}

.logoPrincipal  {
    margin: 3rem 0 2rem 0;
}

.logoPrincipal img{
    clip-path: circle();
    max-width: 50%;
    margin: auto;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem 0;
}

.card picture{
    max-width: 100%;
}

.contenido-card{
    padding: 2rem;
    max-width: 100%;
    background-color: #eaefff;
}

.contenido-card h3{
    margin-bottom: 1.2rem;
    color: #07102d;
}

.contenido-card p{
    line-height: 1.5em;
}

/* PERSONAJES */

.section-capsules {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    row-gap: 2rem;
    column-gap: 1rem;
}

#kaladin{
    background: url(./assets/img/personajes/kaladinStormblessed.jpg);
    background-size: cover;
}

#shallan{
    background: url(./assets/img/personajes/shallanDavar.jpg);
    background-size: cover;
}

#shallan{
    background: url(./assets/img/personajes/shallanDavar.jpg);
    background-size: cover;
}

#dalinar{
    background: url(./assets/img/personajes/dalinarKholin.jpg);
    background-size: cover;
}

#jasnah{
    background: url(./assets/img/personajes/jasnahKholin.jpg);
    background-size: cover;
}

#adolin{
    background: url(./assets/img/personajes/adolinKholin.jpg);
    background-size: cover;
}

#navani{
    background: url(./assets/img/personajes/navaniKholin.jpg);
    background-size: cover;
}

.capsule {
    color: white;
    padding: 10rem 0 0;
    width: 15rem;
    border-radius: 0.25rem;
    overflow: hidden;
    margin: auto;
}

.capsule-title {
    text-align: center;
    margin-bottom: 0.5rem;
}

.capsule-content {
    padding: 1rem;
    background: rgba(20, 20, 20, 0.8);
}

.capsule-body {
    min-height: 10.5rem;
    line-height: 1.5rem;
}

/* CONTACTO */

.formulario {
	width: 80%;
	background: #07102d;
	margin: 1.5em auto;
	padding: 1.5em 0;
}

.formulario h3 {
	color: white;
	margin: 0.5em 0;
    max-width: 80%;
    margin: 0 auto 1.5rem auto;

}

form{
	width: 80%;
	margin: auto;
}


form div label {
	font-weight: bold;
    color: white;
}

form div input {
	border: none;
    height: 2em;
    padding: 6px;
	margin-top: 1em;
    margin-bottom: 1.5em;
    border-radius: 4px;
    width: 100%;
}

textarea {
    border: none;
    height: 6.25em;
    padding: 6px;
	margin-top: 1em;
	margin-bottom: 1.5em;
    resize: none;
    border-radius: 4px;
    width: 100%;
}

#enviar {
	background-color: goldenrod;
    color: white;
	height: 2.5em;
	margin: auto;
	font-size: 1rem;
	cursor: pointer;
	width: 100%;
    border: none;
    border-radius: 5px;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#contacto picture {
    width: 30%;
}

/* FOOTER */

footer {
    background-color: #07102d;
}

.li_item {
    list-style: none;
}

.contenidoFooter {
    color: white;
    display: flex;
    flex-direction: column;
    padding: 1.25em 0;
}

.footerPrincipal {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2.5rem;
}

.footerPrincipal picture {
    margin-bottom: 1.75rem; 
}

.redesFooter {
    display: flex;
}

.redesFooter li{
	margin: auto 0.5em;
}

.redesFooter li a figure{
	width: 32px;
}

.redesFooter li a figure img{
	max-width: 100%;
	vertical-align: middle;
}

.footerPrincipal .li_item {
    padding: 0.25rem;
}

.footerAside {
    display: flex;
    justify-content: center;
    align-items: center;
}

.redSocial:hover{	
	filter: brightness(0) saturate(100%) invert(87%) sepia(23%) saturate(4544%) hue-rotate(346deg) brightness(91%) contrast(87%);
}

/* AGRADECIMIENTO */

.logo-volver {
    margin: auto 0;
}

.row-total {
    display: flex;
    justify-content: space-between;
}

.nav-enviado {
    margin: auto 0 auto 0;
}

#barra-enviado {
    align-items: center;
}

#barra-enviado {
    display: flex;
    width: 100%;   
    flex-direction: row;
    height: 4rem;
    margin: 0;
}

#barra-enviado li {
    list-style: none;
}

.volver {
    color: white;
}

.msj {
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 1.5rem;
}

.msj p{
    line-height: 2rem;
}

.msjAgradecimiento figure {
    width: 30%;
    margin:  0 auto 3rem auto;
}

@media screen and (min-width: 701px) {
    .nav {
        width: 50%;
    }

    .container {
        width: 80%;
    }

    /* FORM */

    .formulario {
        width: 80%;
    }

    /* PERSONAJES */

    .section-capsules {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 960px) {

    #hamburguesa {
        display: none;
    }

    h1 {
        margin: auto 0;
    }

    .container {
        max-width: 1100px;
    }

    .row {
        display: flex;
        justify-content: space-between;
    }

    #barra {
        top: 0;
        align-items: center;
    }

    #barra {
        display: flex;
        width: 100%;   
        flex-direction: row;
        position: relative;
        height: 4rem;
        background-color: #07102d;
        margin: 0;
        box-shadow: none;
    }

    #barra li {
        margin: 1rem;
    }
    
    .nav_principal {
        margin: 0 auto;
    }

    .nav_list {
        display: flex;
    }

    .nav_link {
        color: white;
    }

    .nav_item + .nav_item {
        margin-left: 1.5rem;
    }

    .nav_link:hover,
    .nav_link:focus {
        color: goldenrod;
    }

    .nav_link:focus::after,
    .nav_link:hover::after {
        width: 100%;
    }

    .nav_contacto:hover,
    .nav_contacto:focus {
        color: #07102d;
        opacity: 0.8;
    } 

    #cerrar {
        display: none;
    }

    .contenidoFooter {
        flex-direction: row;
        justify-content: space-between;
    }

    .footerPrincipal {
        flex-direction: row;
        margin-bottom: 0px;
    }

    .footerPrincipal picture {
        margin-right: 2rem;
        margin-bottom: 0px;
    }

    /* INICIO */

    .invertido{
        order: -1;
    }

    .card {
        display: flex;
        flex-direction: row;
    }

    .card picture{
        max-width: 40%;
    }

    .contenido-card{
        max-width: 60%;
    }

    /* PERSONAJES */

    .section-capsules {
        grid-template-columns: repeat(3, 1fr);
    }

    .capsule {
        transition: transform 500ms ease;
    }

    .capsule:hover {
        transform: scale(1.05);
    }

    .capsule-content {
        transform: translateY(65%);
        transition: transform 500ms ease;
    }
    
    
    .capsule:hover .capsule-content {
        transform: translateY(0);
    }
    
    .capsule-content > *:not(.capsule-title) {
        opacity: 0;
        transition: transform 500ms ease;
    }
    
    .capsule:hover .capsule-content > * {
        opacity: 1;
    }

    /* FORM */

    textarea:focus,
    input:focus,
    #enviar:focus {
	    box-shadow: 
		    0 0 0 5px #07102d,
		    0 0 0 8px goldenrod;
    }

    /* FOOTER */
    .column {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .formulario {
        width: 50%;
    }
}